/* customCalendar.css */
.react-calendar {
    width: 100%;
    background: transparent;
    border: none;
    font-family: inherit;
  }
 
  .react-calendar__tile {
    padding: 10px;
    color: #1f2937; /* text-gray-800 */
  }
 
  .react-calendar__tile--active {
    background: #3b82f6; /* Tailwind's blue-500 */
    color: white;
  }
 
  .react-calendar__tile.highlight {
    background: #fef08a; /* Tailwind's yellow-200 */
    color: #1f2937;
  }
 
  .dark .react-calendar__tile {
    color: #e5e7eb; /* text-gray-200 */
  }
 
  .dark .react-calendar__tile--active {
    background: #3b82f6;
    color: white;
  }
 
  .dark .react-calendar__tile.highlight {
    background: #fef08a;
    color: #1f2937;
  }