/* Calender.css */
.rdrCalendarWrapper {
  font-size: 15px;
  font-weight: bold;
  background: transparent;
  border: none;
  font-family: inherit;
  margin-right: 10vh;
}

.rdrMonthAndYearWrapper {
  width: 100% !important;
  background-color: #3b82f6 !important;
  border-radius: 0.375rem;
  color: #f3f4f6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.dark .rdrMonthAndYearWrapper {
  background-color: #4A6CF7 !important;
  color: #e5e7eb !important;
}

.rdrMonthAndYearWrapper .rdrMonthAndYearPickers {
  font-size: 18px !important;
  font-weight: bold;
  color: #ffffff !important;
}

.rdrMonthAndYearWrapper span {
  color: #f3f4f6 !important;
}

.dark .rdrMonthAndYearWrapper span {
  color: #e5e7eb !important;
}

.rdrMonth {
  width: 100% !important;
  background: transparent;
}

.dark .rdrMonth {
  background: #1E232E !important;
}

.rdrDays {
  background: transparent;
}

.dark .rdrDays {
  background: #1E232E !important;
}

.rdrDay {
  background: transparent;
  color: #1f2937;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.dark .rdrDay {
  color: #e5e7eb;
  background: #1E232E;
}

.rdrDayNumber {
  color: #1f2937 !important;
  font-size: 18px;
  font-weight: bold;
}

.dark .rdrDayNumber {
  color: #e5e7eb !important;
}

.rdrDayToday .rdrDayNumber span:after {
  background: #3b82f6 !important;
}

.dark .rdrDayToday .rdrDayNumber span:after {
  background: #4A6CF7 !important;
}

.rdrDayHovered,
.rdrDayPassive:hover {
  background: #e5e7eb !important;
}

.dark .rdrDayHovered,
.dark .rdrDayPassive:hover {
  background: #353A47 !important;
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background: #3b82f6 !important;
  color: white !important;
}

.dark .rdrSelected,
.dark .rdrInRange,
.dark .rdrStartEdge,
.dark .rdrEndEdge {
  background: #4A6CF7 !important;
  color: #e5e7eb !important;
}

.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  background: rgba(59, 130, 246, 0.2) !important;
}

.dark .rdrDayStartPreview,
.dark .rdrDayInPreview,
.dark .rdrDayEndPreview {
  background: rgba(74, 108, 247, 0.2) !important;
}

.rdrNextPrevButton {
  background: #e5e7eb !important;
}

.dark .rdrNextPrevButton {
  background: #353A47 !important;
}

.rdrPprevButton i,
.rdrNextButton i {
  border-color: #1f2937 !important;
}

.dark .rdrPprevButton i,
.dark .rdrNextButton i {
  border-color: #e5e7eb !important;
}